torch==2.6.0
torchvision==0.21.0 
torchaudio==2.6.0
accelerate==1.6.0
peft==0.15.2
transformers==4.51.1
triton==3.2.0
trl==0.18.0
bitsandbytes==0.45.5
deepspeed==0.16.4
liger-kernel==0.5.8
datasets==4.0.0
huggingface_hub
hf_transfer
protobuf==5.28.3
wandb
flash-attn==2.7.3



